header {
    /* background-color: #FF0000; */
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #cccccc;
}


.logo {
    display: flex;
    position: fixed;
    left: 20px;
}